.cartPayBtn {
    width: 100%;
    box-shadow: var(--app-box-shadow);
}

.cart-item-img-div {
    width: 70px;
    height: 70px;
    /* border: 1px solid var(--glass-color); */
    box-shadow: var(--app-box-shadow);
    border-radius: 10px;
}

.cart-item-img-div img {
    width: 70px;
    height: 70px;
}


.cart-item-card .product-title a {
    text-decoration: none;
    font-size: x-small;
}

.cart-item-card .product-title a:hover {
    color: var(--app-primary-color);
}


.cart-item-card .product-stock {
    font-size: xx-small;
}

/* Container for price and quantity controls */
.cart-item-price-container {
    flex: auto;
}

.cart-item-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.cart-item-card .product-price-quantity{
    color:#333;
    font-size: small;
}
.cart-item-card .product-price {
    white-space: nowrap;
    /* Ensures text stays in one line */
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    font-size: small;
    font-weight: 500;
    color: #333;
}

/* Button Styling */
.cart-item-card .btn {
    width: 25px;
    /* Ensure buttons have a uniform width */
    height: 25px;
    font-size: x-small;
    padding: 0px;
    padding-bottom: 2px;
    box-shadow: var(--app-box-shadow);
}

.cart-item-card .btn:hover {
    transform: none;
    box-shadow: var(--app-box-shadow);
}

.cart-item-card .product-quantity {
    font-size: x-small;
}


.sorry_and_continue_msg {
    position: absolute;
    margin-top: 12%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.shipping-card h4 {
    text-align: center;
}

.item-price {
    font-weight: 600;
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Styles for small devices */

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Styles for small devices */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Styles for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Styles for large devices */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Styles for extra large devices */

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* Styles for extra extra large devices */

}