:root {
  --app-color: #144271;
  --app-heading: #2C2C2C;
  --app-header: #fff;
  --app-header-item-color: #3c4043;
  --app-secondary-color:#3c4043;
  --app-box-shadow: 0px 0px 7px 0px #7c899a6e;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.main {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 350px;
  /* height of your footer */
  background-color: #f1f7f8;
}

.footer {
  color: white;
  /* background-color: #191919; */
  background: linear-gradient(to right, #092f56, #000000);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0px;
  padding-left: 0px;
}

nav {
   background-color: var(--app-header);
  /* background: linear-gradient(to right, #092f56, #000000); */
  box-shadow: var(--app-box-shadow);
  margin-bottom: 0px;
  height: 65px;
  opacity: 0.95;
}

.nav-tabs {
  background: #f1f7f8;
  box-shadow: var(--app-box-shadow);
}

.nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 2;
  border-top-right-radius: 2;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--app-header-item-color);
  background-color: var(--app-color);
}

.tab-content {
  background: #fff;
}

a {
  color: var(--app-header-item-color);
  text-decoration: none;
}
a:hover{
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-4 {
  padding: 0.5rem !important;
}

img {
  /* object-fit: cover; */
  object-position: 0 30%;
}

h1, h2, h3, h5 {
  color: var(--app-heading);
}

h5, h6{
  font-weight: bold;
}

h6 {
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}

.app-bg-color {
  background-color: var(--app-color);
}

.app-color {
  color: var(--app-color);
}

.card {
  border: none;
  overflow: hidden;
  border-radius: 10px;
}

.btn-sm{
  font-size: 0.725rem;
}

.btn-primary {
  color: #fff;
  background-color: var(--app-secondary-color);
  border-color: var(--app-secondary-color);
}

.btn-outline-primary {
  color: var(--app-color);
  border-color: var(--app-color);
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  border-color: var(--app-color);
  background-color: var(--app-color);
}

/* .btn-success {
  background-color: var(--app-color);
  border-color: #0f1f2e;
} */

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  color: var(--app-header-item-color);
}

.text-primary {
  color: var(--app-color);
}

.text-black {
  color: #000000;
}

.home_page {
  background-color: #f1f7f8;
  margin-top: -4px;
}

.shadow-card {
  box-shadow: var(--app-box-shadow);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: white;
}

.signBtn {
  box-shadow: var(--app-box-shadow);
}

/* Term or policy Pages css */

.terms h1 {
  font-size: 28px;
  margin-top: 4%;
}

.terms h2 {
  font-size: 21px;
  text-align: left;
}

.terms strong {
  font-size: 13px;
}

.terms p {
  font-size: 13px;
  text-align: left;
}

.terms li {
  font-size: 13px;
}

.company-logo {
  margin-bottom: -3px;
  color: var(--app-header-item-color);
  font-weight: 900
}

.cart-logo {
  font-size: xx-large;
  color: var(--app-color);
}

.timer-bar {
  margin-bottom: 10px;
  padding: 3px;
  background-color: blanchedalmond;
  text-align: center;
  width: 100%;
  font-size: small;
}

.notification-card {
  cursor: pointer;
}

.notification-card a {
  text-decoration: none;
}

.notification-card:hover {
  background-color: aliceblue;
  font-weight: bold;
}

.category-card {
  height: 100px;
  width: 100px;
  /* box-shadow: var(--app-box-shadow); */
  text-align: center;
  cursor: pointer;
  background-color: aliceblue;
  border: none;
  font-size: smaller;
  /* font-weight: 600; */
}

.category-img-div {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

.category-img {
  height: 60px;
  width: 100%;
}

.category-card label{
  padding-top: 4px;
}

.adv-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 18rem;
  width: 100%;
}

.adv-card-img{
  position: absolute;
  border-radius: 10px;
 
}

.adv-card-content {
  position: relative;
  z-index: 1000;
  padding-right: 10px;
  padding-left: 20px;
  align-content: center;
  height: 100%;
  width: 30vw;
  background: #ffffff;
    /* background: linear-gradient(89deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 25%, rgba(255, 255, 255, 1) 80%); */
}

.adv-card-content-title {
  color: var(--app-color);
  font-weight: bolder;
  font-size: xx-large;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.adv-card-content-desc {
  color: #000;
  font-size: smaller;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Styles for small devices */
  
  small {
    font-size: 12px;
    line-height: 1.5;
  }

  .company-logo{
    font-size: smaller;
  }
  .cart-logo{
    font-size: x-large;
  }

  nav {
    height: 50px;
  }
  .terms h1 {
    font-size: 22px;
  }

  .terms h2 {
    font-size: 16px;
    text-align: left;
  }

  h6 {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;
    text-align: left;
    font-size: smaller;
  }

  .category-card {
    height: 80px;
    width: 70px;
    font-size: xx-small;
    font-weight: 600;
  }

  .category-img {
    height: 50px;
    width: 90%;
  }

  .adv-card{
    height: 12rem;
  }

  .adv-card-content{
    width: 40vw;
  }

  .adv-card-content-title{
    font-size: large;
  }
  
  .adv-card-content-desc{
    font-size: x-small;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Styles for small devices */
  .home_page {
    margin-top: -4px;
  }

  .timer-bar {
    font-size: x-small;
    width: 100%;
  }

  .category-card {
    height: 80px;
    width: 70px;
    font-size: xx-small;
    font-weight: 600;
  }

  .category-img {
    height: 50px;
    width: 90%;
  }

  .carousel-indicators {
    display: none;
  }

  .p-4 {
    padding: 1.5rem !important;
  }

  .main {
    padding-bottom: 768px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Styles for medium devices */

  .home_page {
    margin-top: -4px;
  }

  .timer-bar {
    font-size: x-small;
    width: 100%;
  }

  .category-card {
    height: 80px;
    width: 70px;
    font-size: xx-small;
    font-weight: 600;
  }

  .category-img {
    height: 50px;
    width: 90%;
  }

  .carousel-indicators {
    display: none;
  }

  .p-4 {
    padding: 1.5rem !important;
  }

  .main {
    padding-bottom: 768px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for large devices */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for extra extra large devices */

}

@import url('https://fonts.googleapis.com/css2?family=Nunito');
/* ----------- Loading ------------- */

@import url("./loading.css");
/* ----------- Products ------------- */

@import url("./product.css");
/* ----------- Profile ------------- */

@import url("./profile.css");
/* ----------- Products Manager ------------- */

@import url("./products_manager.css");
/* ----------- Nav Bar ------------- */

@import url("./navbar.css");
/* ----------- Footer ------------- */

@import url("./footer.css");
/* ----------- Cart ------------- */

@import url("./cart.css");
/* ----------- ProductsCarousel ------------- */

@import url("./products_carousel.css");
/* ----------- ContactUs ------------- */

@import url("./contactus.css");
/* ----------- HomePageCards ------------- */

@import url("./HomePageCards.css");
/* ----------- THank You Page ------------- */

@import url("./thank_you.css");
/* ----------- carousel ------------- */

@import url("./carousel.css");
/* ----------- Orders ------------- */

@import url("./orders.css");
/* ----------- Order Details ------------- */

@import url("./orderDetails.css");
/* ----------- Order Info ------------- */

@import url("./orderInfo.css");

/* ----------- Shippin Details ------------- */

@import url("./shippingDetails.css");

/* ----------- Order Items Card------------- */

@import url("./orderItems.css");

/* ----------- Payment Section ------------- */

@import url("./paymentSection.css");

/* ----------- Admin Dashboard ------------- */

@import url("./dashboard.css");

/* ----------- Error and 404 pages ------------- */

@import url("./error.css");

/* ----------- Date Range Selector ------------- */

@import url("./dateRangeSelector.css");

/* ----------- Remote Table Grid ------------- */

@import url("./tablegrid.css");

/* ----------- Menu Dropdown ------------- */

@import url("./menu.css");

/* ----------- unauthorized page ------------- */
@import url("./unauthorized.css");

/* ----------- Product Card ------------- */
@import url("./productCard.css");