/* Float four columns side by side */
.col-card {
  width: 20%;
}

/* Style the counter cards */
.col-card .card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9); */
  padding: 25px;
  text-align: center;
  background-color: #fff;
  /* background: linear-gradient(to right, #092f56, #000000); */
  opacity: 85%;
  border: none;
}

.col-card i {
  font-size: large;
  text-align: center;
  vertical-align: middle;
  color: #0c834e;
}

.col-card span {
  color: #3c3c41;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Styles for small devices */
  .col-card {
    width: 22%;
  }

  .col-card .card {
    height: 80px;
    padding: 5px;
  }

  .col-card i {
    font-size: large;
    width: 100%;
  }

  .col-card span {
    font-size: xx-small;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Styles for small devices */
  .col-card {
    width: 22%;
  }

  .col-card .card {
    height: 80px;
    padding: 5px;
  }

  .col-card i {
    font-size: large;
    width: 100%;
  }

  .col-card span {
    font-size: xx-small;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Styles for medium devices */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for large devices */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for extra extra large devices */

}