/* Float four columns side by side */
.col-card {
  width: 20%;
}

/* Style the counter cards */
.col-card .card {
  /* box-shadow: var(--app-box-shadow); */
  padding: 10px;
  text-align: center;
  background-color: #fff;
  /* background: linear-gradient(to right, #092f56, #000000); */
  /* opacity: 85%; */
  border: none;
}

.col-card h3 {
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  color: var( --app-primary-color);
}

.col-card .text {
  color: var(--app-heading-text-color);
  font-size: small;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  margin-top: 2px;
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Styles for small devices */
  .col-card {
    width: 25%;
  }

  .col-card .card {
    padding: 5px;
  }

  .col-card h3 {
    width: 100%;
  }

  .col-card .text {
    font-size: xx-small;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Styles for medium devices */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for large devices */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for extra extra large devices */

}