
.profile-menu{
    background-color: white;
    border-radius: 10px;
    /* height: 80vh; */
}


.profile-menu h6{
    font-weight: normal;
    font-size: x-small;
    padding-left: 0;
    margin-top: 0;
    text-align: start;
}

.profile-menu-body{
    background-color: white;
    border-radius: 10px;
}

.profile-menu-body button, .profile-menu-body a{
    width: fit-content !important;
    cursor: pointer;
}

.profile-nav {
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
  }

  .profile-nav .icon{
    font-size: larger;
  }

  
  .profile-nav .label{
    font-size: small;
  }

  .profile-menu .nav-item {
    border: none;
    text-align: justify;
    background-color: white;
    padding: 8px;
  }

  .nav-item-active{
    background-color: var(--app-background-color) !important;
  }

  .profile-menu .nav-item:hover {
    background-color: var(--app-background-color);
  }

  .address-container{
    border: 1px Solid #ccc;
    padding: 10px;
    border-radius: 10px;
  }

  .address-container label{
    /* font-size: medium; */
    font-weight: bold;
  }

  .address-container span{
    font-size: small;
    color: var(--app-primary-color);
  }

  .address-container p{
    line-height: normal;
    margin-bottom: 0;
    font-size: medium;
    color: black;
  }

  .default-address{
    border: 2px Solid var(--app-primary-color) !important;
  }

  .address-container:hover{
    border: 1px solid;
    cursor: pointer;
  }
  
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Styles for small devices */
    .profile-menu-body button{
        width: 100%;
    }

    .profile-menu h6{
      margin-left: 0px;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Styles for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Styles for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Styles for large devices */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Styles for extra large devices */

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* Styles for extra extra large devices */

}