/* Float four columns side by side */
.trust-badge {
  width: 20%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.trust-badge:hover{
  cursor: pointer;
  transform: scale(1.05);
}

/* Style the counter cards */
.trust-badge .card {
  /* box-shadow: var(--app-box-shadow); */
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: none;
}

.trust-badge h3 {
  /* font-size: x-large; */
  text-align: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* color: var( --app-primary-color); */
}

.trust-badge .text {
  color: var(--app-heading-text-color);
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  transition: color 0.3s ease-in-out;
  margin-left: 10px;
}

.trust-badge:hover .text, .trust-badge:hover h3{
  color: var(--app-primary-color);
}

/* Divider styling */
.with-divider {
  position: relative;
}

.with-divider::after {
  content: '';
  position: absolute;
  right: -15px; /* Adjust this depending on spacing between divs */
  top: 50%;
  width: 2px;
  height: 60%; /* Adjust this to change divider length */
  background-color: var(--app-heading-text-color);
  border-radius: 10px; /* Rounded edges */
  transform: translateY(-50%);
}

.with-divider:last-child::after {
  display: none; /* Remove the divider for the last element */
}



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Styles for small devices */
  .trust-badge {
    /* width: 30%; */
    padding: 0px;
  }

  .trust-badge .card {
    padding: 5px;
  }

  .trust-badge h3 {
    /* width: 100%; */
    flex-direction: column;
  }

  .trust-badge .text {
    font-size: xx-small;
    margin-top: 5px;
    margin-left: 0px;
  }

  .with-divider::after {
    
    right: -10px; /* Adjust this depending on spacing between divs */
    height: 50%; /* Adjust this to change divider length */
   
    transform: translateY(-50%);
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Styles for medium devices */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for large devices */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for extra extra large devices */

}