/* Float four columns side by side */
.trust-badge {
  width: 20%;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.trust-badge:hover{
  cursor: pointer;
  transform: scale(1.05);
}

/* Style the counter cards */
.trust-badge .card {
  /* box-shadow: var(--app-box-shadow); */
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: none;
}

.trust-badge h3 {
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* color: var( --app-primary-color); */
}

.trust-badge .text {
  color: var(--app-heading-text-color);
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  margin-top: 5px;
  transition: color 0.3s ease-in-out;
}

.trust-badge:hover .text, .trust-badge:hover h3{
  color: var(--app-primary-color);
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Styles for small devices */
  .trust-badge {
    width: 25%;
  }

  .trust-badge .card {
    padding: 5px;
  }

  .trust-badge h3 {
    width: 100%;
  }

  .trust-badge .text {
    font-size: xx-small;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Styles for medium devices */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for large devices */

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for extra extra large devices */

}